[ELASTIC]
scheme = http
host = 127.0.0.1
port = 9200
user = elastic
password = changeme
index = products_index

[SOLR]
scheme = http
host = 127.0.0.1
port = 8983
core = products

[MYSQL]
host = 127.0.0.1
port = 3306
user = root
password =
database = grocery_store